Configuration Smart Shopping - EXEMPLE
FLASK_ENV=production
FLASK_DEBUG=False
Configuration Email Gmail
GMAIL_EMAIL=rapherv@gmail.com
GMAIL_APP_PASSWORD=
Configuration base de données
DB_PATH=smart_shopping.db
